@font-face {
    font-family: 'Comfortaa';
    src: url('./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

:root {
    --font-color: rgb(255, 255, 255);
    --border-color: #222;
    --background-dark: rgba(17, 17, 17, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: var(--background-dark);
    color: var(--font-color);
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    font-family: 'Comfortaa';
}

/* Header */

header {
    padding: 1rem;
    border-bottom: solid white 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 0 0 3rem;
}

.logo:hover, .nav-item:hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 3rem 0 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 1.5rem;
}

li:hover {
    cursor: pointer;
}

.current {
    text-decoration: underline;
}

/* Main */

/* Hero */

.home-page {
    height: 100%;
    position: relative;
}

.home-hero {
    background: url('imgs/hero1.gif');
    background-size: cover;
    filter: blur(5px);
    box-shadow: 0 2px 1rem (black);
    height: 100%;
}

.home-header-container {
    height: 25%;
    width: 25%;
    padding: 1rem;
    background-color: rgba(0,0,0, .7);
    border: solid white 0.5rem;
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-header {
    text-align: center;
}

/* Menu */

.menu {
    height: 100%;
    background: rgba(8, 12, 17, 0.3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 40rem;
    gap: 1px;

}

.menu-item {
    background-color: rgba(0,0,0,.4);
    border: solid white 2px;
    box-shadow: 0 0 0.5rem rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    /* background: inherit; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item:hover {
    box-shadow: 0 0 1rem rgb(233, 199, 49);
    
}

.menu-item > h2 {
    text-align: center;
    padding: 0.5rem 0;
}

.item-img-container {
    border-radius: 50%;
    background: inherit;
    height: 300px;
    width: 300px;
    align-self: center;
}

img {
    height: 100%;
    width: 100%;
}

.menu-item-description {
    font-size: 1.25rem;
    padding: 1rem;
    align-self: center;
}

.menu-item-price {
    font-size: 1.25rem;
    align-self: center;
    text-align: center;

}

/* About */

.about-page {
    height: 100%;
    position: relative;
    grid-template-columns: 1fr 1fr;
}

.about-hero {
    height: 100%;
    background: url('./imgs/about-cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(3px); */
}


.about-text-container {
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
}

.about-heading {
    color: white;
    padding: 1rem;
    font-size: 3rem;
    width: 50%;
}

.about-text {
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: white;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid white 2px;
}

.icon {
    width: 2rem;
}